@media (max-width: 1400px) {
}
/* =============================================================================================
================================================================================================
============================================================================================= */
@media (max-width: 1200px) {
  .sec1-cards .card-outer > div {
    padding: 10px 10px;
  }
  .recentActDes {
    padding: 0px;
  }
  .Compare {
    padding: 20px 0px;
  }
  .un-btn {
    border: none;
    background: rgba(59, 130, 246, 1);
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 14px;
    cursor: pointer;
  }
  .subheading-text {
    color: rgb(0, 0, 0) !important;
    font-weight: 600 !important;
    font-size: 18px !important;
}
}
/* =============================================================================================
================================================================================================
============================================================================================= */
@media (max-width: 992px) {
}
/* =============================================================================================
================================================================================================
============================================================================================= */
@media (max-width: 767px) {
  .ConSecBox {
    flex-direction: column;
  }
  .ConSecBox > div {
    padding-bottom: 10px;
  }
}
/* =============================================================================================
================================================================================================
============================================================================================= */
@media (max-width: 576px) {
  .EstGraph-mainrow {
    font-size: 14px;
    font-weight: 500;
}
.mainWraper {
  width: 100%;
  padding: 30px 5px 15px;
}
}
